<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="navbar nav-expand navbar-light bg-light">
    <div class="b">
        <a href="/">
            Home
        </a>
    </div>
    <div class="b1">
        <a href="/video_manager">
           Video manager
        </a>
    </div>
    <div class="b2">
        <a href="/gallery/image">
            Bildergalerie
        </a>
    </div>
</div>