<div class="container">
    <div class="b">
        <a href="/">
            Home
        </a>
    </div>
    <div class="b1">
        <a>
            Videogalerie
        </a>
    </div>
    <div class="b2">
        <a href="/gallery/image">
            Bildergalerie
        </a>
    </div>
</div>