<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="navbar nav-expand navbar-light bg-primary">
        <div class="b">
            <a href="/">
                Home
            </a>
        </div>
        <div class="b1">
            <a href="/video_manager">
                Video manager
            </a>
        </div>
        <div class="b15">
            <a href="/audio_manager">
                Audio manager
            </a>
        </div>
        <div class="b2">
            <a href="/gallery/image">
                Bildergalerie
            </a>
        </div>
    </div>
</head>
<body>
<style>
   .b a,.b1 a,.b2 a,b15 a{
       color:white;
        text-decoration: none;
   }
    a:visited {
        color:white;
    }
</style>
</body>
